<section class="hero">
  <div class="row">
    <div class="col-sm-12 hero-center">
      <h1>Mister Cocktail</h1>
      <p>Find the best cocktail recipes</p>
    </div>
  </div>
</section>

<section class="cocktail-list">
  <div class="row">
  <div class="col-sm-12">
    <h2>Recently added cocktails</h2>
  </div>
</div>
<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="col-sm-6">
      <img src="https://images.cocktailflow.com/v1/cocktail/w_300,h_540/cocktail_sex_on_the_beach-1.png" alt="" style="height:60px;">
    </div>
    <div class="col-sm-6">
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    </div>
  </div>
  <% end  %>
</div>



<hr>

<h3><%= link_to 'Add new cocktail', new_cocktail_path %></h3>

</section>


