<section class="main-page">
<div class="row">
  <div class="col-xs-12">
      <h1 class="cd-headline push">
    <span>I want to make a</span>
    <span class="cd-words-wrapper">
      <b class="is-visible">gin tonic</b>
      <b>manhattan</b>
      <b>spritz</b>
    </span>
    <p><%= link_to 'view cocktails', cocktails_path %></p>
  </h1>
  </div>
</div>
</section>
