<section class="add-cocktail">
  <div class="hero">
    <h1>Add a new cocktail</h1>
  </div>

  <div class="cocktail-list">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add Cocktail", class: "btn btn-primary" %>
<% end %>
  </div>
</section>



