.hero{
  color: white;
  background-color: #3F435F;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cocktail-list{
  padding:70px;
}
.cocktail-list h2{
  text-align: center;
  margin:40px;
}

// add cocktail view
