<nav class="cd-side-navigation">
  <ul>
    <li>
      <a href="#0" data-menu="index">
        home
      </a>
    </li>

    <li>
      <a href="#0" class="selected" data-menu="projects">
        cocktails
      </a>
    </li>

    <li>
      <a href="#0" data-menu="contact">
        add
      </a>
    </li>
  </ul>
</nav>
